* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav {
    background-color: rgb(4, 22, 69);
    color: whitesmoke;
    padding: 10px;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice {
    width: 165px;
    height: 165px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
}

.choice:hover {
    cursor: pointer;
    background-color: rgb(4, 22, 69);
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: rgb(4, 22, 69);
    color: whitesmoke;
    display: inline;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
}